Repository Capgemini/dcx-react-library, pull requests merged in 2023-07, with the labels that each got.

#515 Label Design System
  src/design-system/formselect.css
  src/design-system/index.css
  src/design-system/label.css
  src/design-system/tokens.json
  stories/Label/design-system/AccessibleTheme.stories.js
  stories/Label/design-system/DarkTheme.stories.js
  stories/Label/design-system/Default.stories.js
  stories/Label/design-system/Playground.stories.js
  stories/themes/accessible.theme.css
  stories/themes/dark.theme.css
Labels: ready to merge, design-system

#506 feat: Tabs are now non-js compliant
  example/src/index.tsx
  package.json
  src/tabGroup/TabGroup.tsx
  src/tabGroup/__test__/TabGroup.test.tsx
  src/tabGroup/components/Tab.tsx
  src/tabGroup/components/__test__/Tab.test.tsx
Labels: enhancement, ready to merge

#516 Insert designing
  package.json
  src/design-system/index.css
  src/design-system/insert-text.css
  stories/FormSelect/design-system/DarkTheme.stories.js
  stories/InsertText/design-system/AccessibleTheme.stories.js
  stories/InsertText/design-system/DarkTheme.stories.js
  stories/InsertText/design-system/Default.stories.js
  stories/InsertText/design-system/MaterialTheme.stories.js
  stories/InsertText/design-system/Playground.stories.js
  stories/themes/dark.theme.css
  yarn.lock
Labels: design-system
