Repository Capgemini/dcx-react-library, pull requests merged in 2023-11, with the labels that each got.

#545 Link Design-System: Default and Accessible themes
  src/design-system/index.css
  src/design-system/link.css
  src/design-system/tokens.json
  stories/Link/design-system/AccessibleTheme.stories.js
  stories/Link/design-system/DarkTheme.stories.js
  stories/Link/design-system/Default.stories.js
  stories/Link/design-system/MaterialTheme.stories.js
  stories/Link/design-system/Playground.stories.js
  stories/themes/dark.theme.css
Labels: design-system

#542 Abbreviate - design system
  src/design-system/abbreviate.css
  src/design-system/index.css
  src/design-system/tokens.json
  stories/Abbreviate/design-system/AccessibleTheme.stories.js
  stories/Abbreviate/design-system/DarkTheme.stories.js
  stories/Abbreviate/design-system/Default.stories.js
  stories/Abbreviate/design-system/MaterialTheme.stories.js
  stories/Abbreviate/design-system/Playground.stories.js
  stories/themes/accessible.theme.css
  stories/themes/dark.theme.css
  stories/themes/material.theme.css
Labels: WIP, design-system, Comments to be solved

#543 Code snippet - design system
  src/design-system/code-snippet.css
  src/design-system/highlight.css
  src/design-system/index.css
  src/design-system/tokens.json
  stories/CodeSnippet/design-system/AccessibleTheme.stories.js
  stories/CodeSnippet/design-system/DarkTheme.stories.js
  stories/CodeSnippet/design-system/Default.stories.js
  stories/CodeSnippet/design-system/MaterialTheme.stories.js
  stories/CodeSnippet/design-system/Playground.stories.js
  stories/themes/dark.theme.css
Labels: design-system

#575 Pre-formatted text Design System
  src/design-system/index.css
  src/design-system/preformattedText.css
  src/design-system/tokens.json
  stories/PreformattedText/design-system/AccessibleTheme.stories.js
  stories/PreformattedText/design-system/DarkTheme.stories.js
  stories/PreformattedText/design-system/Default.stories.js
  stories/PreformattedText/design-system/MaterialTheme.stories.js
  stories/PreformattedText/design-system/Playground.stories.js
  stories/themes/dark.theme.css
  stories/themes/material.theme.css
Labels: design-system

#522 DescriptionList
  .storybook/preview.js
  .vscode/settings.json
  example/package.json
  example/src/components/DescriptionList.scss
  example/src/components/DescriptionListDemo.tsx
  example/src/components/index.ts
  example/src/index.tsx
  package.json
  src/descriptionList/DescriptionList.tsx
  src/descriptionList/UseDescriptionList.tsx
  src/descriptionList/__test__/DescriptionList.test.tsx
  src/descriptionList/components/Detail.tsx
  src/descriptionList/components/Term.tsx
  src/descriptionList/components/__test__/Detail.test.tsx
  src/descriptionList/components/__test__/Term.test.tsx
  src/descriptionList/index.ts
  src/index.ts
  stories/DescriptionList/Classbased.stories.js
  stories/DescriptionList/Documentation.mdx
  stories/DescriptionList/Live.stories.js
  stories/DescriptionList/UnStyled.stories.js
  stories/liveEdit/DescriptionListLive.tsx
Labels: Comments to be solved

#571 adds blockquote design-system
  src/design-system/blockquote.css
  src/design-system/index.css
  src/design-system/tokens.json
  stories/BlockQuote/ClassBased.stories.js
  stories/BlockQuote/design-system/AccessibleTheme.stories.js
  stories/BlockQuote/design-system/DarkTheme.stories.js
  stories/BlockQuote/design-system/Default.stories.js
  stories/BlockQuote/design-system/MaterialTheme.stories.js
  stories/BlockQuote/design-system/Playground.stories.js
  stories/BlockQuote/style.css
  stories/themes/dark.theme.css
Labels: design-system
