Repository Capgemini/dcx-react-library, pull requests merged in 2024-07, with the labels that each got.

#666 Documentation: make documentation more clear for Toogle and Tooltip Components
  stories/Toggle/Documentation.mdx
  stories/Tooltip/Documentation.mdx
Labels: documentation

#662 Range Design System
  core/storybook/TokensDecorator.js
  src/design-system/index.css
  src/design-system/range.css
  src/design-system/tokens.json
  src/range/Range.tsx
  stories/Range/design-system/AccessibleTheme.stories.js
  stories/Range/design-system/DarkTheme.stories.js
  stories/Range/design-system/Default.stories.js
  stories/Range/design-system/MaterialTheme.stories.js
  stories/Range/design-system/Playground.stories.js
  stories/Toggle/Documentation.mdx
  stories/Tooltip/Documentation.mdx
  stories/introduction.mdx
  stories/themes/accessible.theme.css
  stories/themes/dark.theme.css
  stories/themes/design-system/index.css
  stories/themes/material.theme.css
Labels: design-system

#665 Fix/accordion click event
  CHANGELOG.md
  example/src/components/AccordionDemo.tsx
  example/src/components/accordion.scss
  example/src/pages/HomePage.tsx
  src/accordion/Accordion.tsx
  src/accordion/AccordionDetails.tsx
  src/accordion/AccordionItem.tsx
  src/accordion/AccordionTitle.tsx
  src/accordion/__tests__/Accordion.test.tsx
  stories/changelog.mdx
Labels: bug

#670 Range Design test fixing
  src/range/__tests__/Range.test.tsx
Labels: design-system
